nbconvert>=5.6.0
ipywidgets
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
numpy
PyHamcrest
scipy
pandas
sklearn
matplotlib
seaborn
pyarrow
statsmodels
ts-flint
gym
pyentrp
dpkt
mpld3
graphviz
torch
torchvision
protobuf
gensim
pandas_explode
jq
papermill
setuptools>=41.0.0
forex-python
influxdb
yahoo_fin
requests_html
iperf3
pandas_datareader
yahoo_fin
yfinance
jupyter_http_over_ws
tqdm
codetiming
pgmpy
#tensorflow
